body[data-theme="dark"] {  

   @import '/src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #0e0f45;
   }

   .title-styles {
      color: rgb(230, 166, 15);
   }

   .title-container{
      color: #f1c01d;
   }

   .header-icon {
      color: #c98541;
      opacity: 0.3;
   }

   .slider-image {
      border: 5px solid #0e0f45;
   }

   .language {
      background-color: #e19a48;
   }

   .link-href {
      color: rgb(213, 130, 21);
   }

   .project-date {
      background-color: #623cb0;
      color: rgb(242, 218, 99);
   }

   header {
      background-color: #989898;
      background-image: url('https://media0.giphy.com/media/rzeWnbH8Uc5Y4/giphy.gif?cid=ecf05e47wf1j0ivnwqccbiovgi0rn5tbkqzhlwnu8ejk2gu8&rid=giphy.gif&ct=g');
      h1 {
         color: #0e0f45;
      }
   }

   #about {
      background-color: #0e0f45;
      h1 span {
         color: #f1c01d;
      }
      .polaroid span {
         background: #453387;
      }
      .card {
         background: #453387;
         color: #f1c01d;
      }
   }

   #portfolio {
      background:#0e0f45;
      .section-title {
         color: rgb(217, 132, 29) !important;
      }
      .foto div {
         background: #897cb9;
      }
      .project-title-settings {
         color: rgb(239, 227, 95);
      }
   }

   #resume {
      filter: brightness(80%);
      background: #0e0f45;
      .section-title {
         color:#f7f6ff!important;
      }

      .text-black {
         color: rgb(217, 132, 29) !important;
       }

      .experience-badge {
         background: #f1c01d !important;
         color:  #0e0f45;
      }

      .main-badge {
         background: #f1831d !important;
      }

      .vertical-timeline-element-date {
         color: rgb(255, 255, 255);
      }

      .vertical-timeline-element-icon {
         background: #eedb32 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: rgb(214, 182, 227);
         }
      }
   }

   .modal-inside .modal-content {
      background: #1b1d82;
      color: rgb(238, 210, 88);
   }

   .close-icon {
      color: rgb(255, 128, 0);
   }
}
